.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(33.33%-20px);
  height: 250px;
  overflow: hidden;
  float: left;
}
.card img {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  height: 40%;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}
.card-tittle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-content {
  width: 100%;
  display: inline-block;
  text-align: center;
}
